catkin_ws_scanning_ekf_ver2/build/
catkin_ws_scanning_ekf_ver2/config/

catkin_ws_scanning_ekf_ver2/spsg_kitti_06_0.05_0.3/
catkin_ws_scanning_ekf_ver2/spsg_kitti_07_0.05_0.3/
catkin_ws_scanning_ekf_ver2/spsg_kitti_08_0.05_0.3/
catkin_ws_scanning_ekf_ver2/spsg_kitti_09_0.05_0.3/
catkin_ws_scanning_ekf_ver2/spsg_kitti_10_0.05_0.3/

catkin_ws_scanning_ekf_ver2/devel/